@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");

body {
  background-image: url(./still.jpg);
  background-size: cover;
  background-position: 75% center;

  color: rgba(255, 255, 255, 0.7);
  font-family: "Source Code Pro", sans-serif;

  height: 100%;
}

@media only screen and (min-width: 980px) {
  body {
    background-position: center center;
  }
}

.creditItem {
  text-align: center;
  margin-bottom: 2rem;
}

.creditName {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.creditNames {
  text-transform: uppercase;
}

.credits {
  max-width: max(40%, 400px);
}

.creditsSmall {
  color: rgba(255, 255, 255, 0.35);
}

@media only screen and (min-width: 768px) {
  .creditsSmall {
    color: rgba(0, 0, 0, 0.4);
  }
}

html {
  height: 100%;
}

.logo {
  width: max(40%, 400px);
  flex-grow: 1;
}

.logoImage {
  opacity: 0.291;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
